@{
    ViewBag.Title = "Home Page";
}

<body >
    <style>
        body {
            margin-bottom: initial;
            font-family: 'Comic Sans MS';
            background-color: darkgray
        }
    </style>
</body>

<div class="jumbotron" style="background-color:antiquewhite">
    <h1>New Arrivals</h1>
    <h2>Check out the LATEST phones out right now</h2>
    <img style="padding:40px " src="https://fdn2.gsmarena.com/vv/bigpic/xiaomi-13-pro-black.jpg" />
    <img style="padding:40px " src="https://fdn2.gsmarena.com/vv/bigpic/xiaomi-civi2.jpg" />
    <img style="padding:40px " src="https://fdn2.gsmarena.com/vv/bigpic/huawei-pocket-s.jpg" />
    <img style="padding:40px " src="https://fdn2.gsmarena.com/vv/bigpic/huawei-nova-10.jpg" />
    <h4>Find which phone is right for you</h4>
    <p class="lead"></p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">>Shop Now &raquo;</a></p>
</div>



    <div class="col-md-4">
        <h2>Rumor Mill</h2>

        <p>
            Oppo and OnePlus announce new strategic partnership.OnePlus held an event on Saturday to celebrate its ninth year of existence and there were several notable announcements about the brand’s future plans.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Top 10 trending phones</h2>
        <p>
            As we count away the last weeks of 2022, Xiaomi's 13 series are fortifying their position as the dominant force in our trending chart.The vanilla 13 got the early lead last week following the unusually timed Sunday event, but now it's the 13 Pro that came out on top.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>In Stores Now</h2>
        <p>Honor 80 GT was confirmed to arrive on December 26, and we also expect to see a tablet. Today, the company revealed the name would be Honor V8 Pro, just like the rumors suggested, and both devices were shown in full size on the Weibo company page.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>